<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <%- include _bootstrap_lib.ejs%> 
</head>
<body>
<%- include _header.ejs%>
<div class="container-fluid">
   <h2>Admin Dashboard...</h2>
</div>

</body>
</html>
